@charset "utf-8";
body{font-family:"微软雅黑"; font-size:14px; color:#333; background:#f2f2f2;}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,input,em{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:none;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul,li{list-style-type:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before, q:after{content:''}
input,textarea{outline:none;font-family:"微软雅黑";font-size:14px;border:none;-webkit-appearance:none; resize:none; border-radius:3px;}
textarea:focus{border-color:#ff9a36;}
a{cursor:pointer;}
a:link,a:visited,a:hover,a:active{text-decoration:none;}
body>a{display:none;}
img{width:100%; height:auto;}
.clear{clear:both; width:0; height:0; margin:0; padding:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.center{position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;}
.hide{display:none;}
.hidden{visibility:hidden;}
.ellipsis{white-space:nowrap !important; overflow:hidden; text-overflow:ellipsis;}
.full{position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden;}
.y-scroll{overflow-x:hidden; overflow-y:scroll;}
.fll{float:left;}
.flr{float:right;}
::-webkit-scrollbar{display:none;}

.tip-box{background:rgba(0,0,0,.7); z-index:1000;}
.tip-box div{width:100%; height:40px; text-align:center; font-size:16px;}
.tip-box span{background:black; border-radius:4px; color:white; padding:20px 30px;}

.share-box{background:rgba(0,0,0,.7); z-index:1000;}
.share-arrow{position:absolute; width:50px; height:55px; top:20px; right:20px; background:url(../img/share-arrow.png) no-repeat center; background-size:contain;}
.share-text{position:absolute; width:200px; height:90px; top:60px; right:50px; line-height:30px;}
.share-text p{text-align:center; color:white; font-size:20px;}
.share-pic-box{position:absolute; width:1px; height:1px; top:0; left:0; overflow:hidden;}
.share-pic-box img{width:auto;}

.orient{background:black; z-index:1000; display:none;}
@media (orientation : landscape){.orient{display:block;}}
.orient-wrap{width:300px; height:150px;}
.orient-wrap>div{width:67px; height:109px; margin:0 auto; background:url(../img/orient-rotate.png) no-repeat; background-size:contain;}
.orient-wrap>div{
	-webkit-animation:rotation 0.8s ease-in-out infinite alternate;
}
@-webkit-keyframes rotation{
	0% {-webkit-transform:rotate(0deg);}
	10%{-webkit-transform:rotate(0deg);}
	90%{-webkit-transform:rotate(90deg);}
	100% {-webkit-transform:rotate(90deg);}
}
.orient-wrap>p{position:absolute; width:100%; left:0; bottom:0; line-height:20px; color:white; font-size:16px; text-align:center;}


section{
	position:absolute; overflow-x:hidden; overflow-y:scroll; z-index:1; 
	left:0; top:0; width:100%; height:100%;
	background:url(../img/bg-1.jpg) no-repeat center bottom/cover;
}
.pass,
.fail,
.list{
	background-image:url(../img/bg-2.jpg); 
}
.list{
	overflow:hidden; 
}
.map{
	overflow:hidden; 
	background:white;
}
.paper:before{
	content:''; position:fixed;
	left:8%; right:8%; top:30px; bottom:110px;
	background:url(../img/paper.png) no-repeat center/100% 100%;
}

.loading{
	background:#4483c6; 
}
.ld-wrap{
	width:200px; height:300px; 
}
.ld-logo{
	width:102px; height:150px;
	margin:0 auto;
	background:url(../img/ld-logo.png) no-repeat center/contain;
}
.ld-bar{
	position:relative; overflow:hidden; 
	width:90px; height:5px;
	margin:10px auto; border-radius:2px; 
	background:#22546b; 
}
.ld-in{
	width:0;
	background:red;
}
.ld-t{
	line-height:30px;
	text-align:center; color:white; font-size:24px; font-weight:bold; 
}
.ld-pic{
	position:absolute; overflow:hidden; 
	left:-1px; top:-1px; width:1px; height:1px;
}

.cv-sled{
	position:fixed;
	right:-10px; bottom:0; width:182px; height:57px;
	background:url(../img/cv-sled.png) no-repeat center/contain;  
}
.cv-santa{
	position:fixed;
	left:10px; bottom:55px; width:72px; height:113px;
	background:url(../img/gm-santa.png) no-repeat center/contain;  
}
.cv-t{
	position:relative;
	width:293px; height:434px;
	margin:0 auto 100px;
	background:url(../img/cv-t.png) no-repeat center/contain;
}
.cv-start{
	position:absolute;
	left:80px; bottom:-20px; width:120px; height:65px; 
	background:url(../img/cv-start.png) no-repeat center/contain; 
}

.fq-santa{
	position:fixed;
	right:10px; bottom:120px; width:50px; height:47px;
	background:url(../img/fq-santa.png) no-repeat center/contain;  
}
.fq-sign{
	position:fixed;
	left:20px; bottom:0; width:50px; height:86px;
	background:url(../img/fq-sign.png) no-repeat center/contain; 
}
.fq-wrap{
	position:relative; overflow:hidden;
	width:296px;
	margin:0 auto 90px;  
}
.fq-wrap>*{margin:0 auto;}
.fq-t{
	width:296px; height:69px;
	margin-top:10px;
	background:url(../img/fq-t.png) no-repeat center/contain; 
}
.fq-head{
	overflow:hidden; 
	width:80%;
}
.fq-gender{
	float:left; width:50%; height:108px;
	background:no-repeat center/contain;
}
.girl{background-image:url(../img/girl-gray.png);}
.boy{background-image:url(../img/boy-gray.png);}
.girl.checked{background-image:url(../img/girl.png);}
.boy.checked{background-image:url(../img/boy.png);}
.fq-tip{
	line-height:30px;
	margin:3px auto;
	text-align:center; color:#4d4d4d; font-size:18px; font-weight:bold;   
}
.fq-btns{
	width:206px; 
}
.fq-btns li{
	position:relative; 
	width:100%; height:55px;
	margin-bottom:10px;
	background:url(../img/btn-gray.png) no-repeat center/100% 100%; 
}
.fq-btns li.checked{background-image:url(../img/btn.png);}
.fq-btns li:after{
	content:''; position:absolute;
	top:0; left:5%; width:90%; height:100%;
	background:no-repeat center/contain; 
}
.fq-btns li:nth-child(1):after{background-image:url(../img/fq-1.png);}
.fq-btns li:nth-child(2):after{background-image:url(../img/fq-2.png);}
.fq-btns li:nth-child(3):after{background-image:url(../img/fq-3.png);}
.fq-next{
	width:200px; height:55px;
	background:url(../img/fq-next.png) no-repeat center/contain; 
}

.rl-wrap{
	position:relative; overflow:hidden;
	width:296px;
	margin:0 auto 90px;  
}
.rl-wrap>*{margin:0 auto;}
.rl-t{
	width:296px; height:69px;
	margin-top:10px;
	background:url(../img/rl-t.png) no-repeat center/contain;	
}
.rl-blue{
	line-height:22px;
	text-align:center; font-size:16px; font-weight:bold; color:#37c0ec;  
}
.rl-color{
	box-sizing:border-box;
	width:230px; height:60px;
	padding:10px 0 0 70px;
	background:no-repeat left center/60px;
	color:#4d4d4d; font-weight:bold; font-size:12px;
}
.red .rl-color{	 background-image:url(../img/gift-red.png);}
.blue .rl-color{ background-image:url(../img/gift-blue.png);}
.green .rl-color{background-image:url(../img/gift-green.png);}
.rl-color b{font-size:14px;}
.red .rl-color b{  color:red;}
.blue .rl-color b{ color:rgb(4, 132, 208);}
.green .rl-color b{color:green;}

.rl-detail{
	box-sizing:border-box; position:relative;
	width:240px;
	color:#4d4d4d; font-size:12px; 
}
.rl-detail p{
	line-height:16px;
	margin:10px 0; 
}
.rl-detail p:first-child{font-weight:bold; font-size:14px;}
.rl-santa{
	position:absolute;
	top:15px; right:60px; width:35px; height:40px;
	background:url(../img/rl-santa.png) no-repeat center/contain;   
}
.rl-gift{
	position:absolute; overflow:hidden; 
	top:70px; right:0; width:100px;  
}
.rl-gift li{
	float:left; position:relative;
	width:30%; height:30px;
	margin-right:3.3%;
	background:no-repeat center/contain;    
}
.red .rl-gift li:nth-child(1){background-image:url(../img/gift-red.png);}
.red .rl-gift li:nth-child(2){background-image:url(../img/gift-blue.png);}
.red .rl-gift li:nth-child(3){background-image:url(../img/gift-green.png);}
.blue .rl-gift li:nth-child(1){background-image:url(../img/gift-blue.png);}
.blue .rl-gift li:nth-child(2){background-image:url(../img/gift-red.png);}
.blue .rl-gift li:nth-child(3){background-image:url(../img/gift-green.png);}
.green .rl-gift li:nth-child(1){background-image:url(../img/gift-green.png);}
.green .rl-gift li:nth-child(2){background-image:url(../img/gift-blue.png);}
.green .rl-gift li:nth-child(3){background-image:url(../img/gift-red.png);}
.rl-gift li:after{
	content:''; position:absolute;
	left:0; top:0; width:100%; height:100%;
	background:url(../img/rl-x.png) no-repeat center/50%;    
}
.rl-gift li:first-child:after{background-image:url(../img/rl-tick.png);}
.rl-start{
	width:204px; height:55px;
	margin-top:10px; 
	background:url(../img/rl-start.png) no-repeat center/contain; 
}


.ps-wrap{
	position:relative; overflow:hidden;
	width:296px;
	margin:0 auto 100px;
}
.ps-wrap>*{margin:0 auto;}
.ps-t{
	width:296px; height:69px;
	margin-top:10px;
	background:url(../img/ps-t.png) no-repeat center/contain;
}
.ps-rs{
	width:217px; height:247px;
	margin-top:10px;
	background:no-repeat center/contain;  
}
.red .ps-rs{background-image:url(../img/ps-red.png);}
.blue .ps-rs{background-image:url(../img/ps-blue.png);}
.green .ps-rs{background-image:url(../img/ps-green.png);}
.ps-share{
	width:122px; height:36px;
	margin-top:10px; 
	background:url(../img/ps-share.png) no-repeat center/contain;  
}
.ps-shop{
	display:block; 
	width:205px; height:55px;
	margin-top:10px; 
	background:url(../img/ps-shop.png) no-repeat center/contain;  
}
.ps-santa{
	position:fixed;
	left:10px; top:110px; width:70px; height:120px;
	background:url(../img/gm-santa.png) no-repeat center/contain;  
}

.fl-wrap{
	position:relative; overflow:hidden;
	width:296px;
	margin:0 auto 100px;
}
.fl-wrap>*{margin:0 auto;}
.fl-t{
	width:296px; height:69px;
	margin-top:10px;
	background:url(../img/fl-t.png) no-repeat center/contain;
}
.fl-main{
	width:188px; height:130px;
	margin:10px 0 0 70px;
	margin-top:10px;
	background:url(../img/fl-main.png) no-repeat center/contain; 
}
.fl-btn{
	width:80%; overflow:hidden;  
	margin-top:30px; 
}
.fl-btn div{
	float:left; 
	width:50%; height:65px;
	background:no-repeat center/contain;  
}
div.fl-again{background-image:url(../img/fl-again.png);}
div.fl-share{background-image:url(../img/fl-share.png);}
.fl-santa{
	position:fixed;
	left:0; top:110px; width:110px; height:110px;
	background:url(../img/fl-santa.png) no-repeat center/contain; 	
}
.fl-shop{
	line-height:30px;
	margin-top:5px;
	text-align:center; font-size:16px; color:red;
}

.ls-top{
	position:relative; 
	width:84%; height:70px;
	margin:30px auto 0;
	background:url(../img/ls-t.png) no-repeat center/156px auto,
		url(../img/elf.png) no-repeat right center/40px;  
}
.ls-back{
	width:50px; height:100%;
	background:url(../img/back.png) no-repeat center/30px;  
}
.ls-ul{
	position:absolute; overflow-x:hidden; overflow-y:scroll;  
	left:10%; top:100px; bottom:115px; width:80%;
}
.ls-city-tip{
	position:relative;
	width:75%; height:30px; line-height:15px;
	margin:0 auto;
	font-size:12px;
}
.ls-city-ul{top:140px;}
.ls-city-ul li{
	float:left;
	width:30%; height:26px; line-height:26px;
	margin-left:2%; margin-bottom:5px; border-radius:3px;
	background:#4ec7ff;
	color:white; font-size:16px; text-align:center;
}
/*.ls-city-ul li:nth-child(3n+1){margin-right:0;}*/
.ls-shop-ul li{
	box-sizing:border-box; overflow:hidden; 
	width:98%; height:75px;
	padding:10px; padding-right:20px; border-radius:5px; margin-bottom:5px;
	background:white url(../img/ls-arrow.png) no-repeat 96% center/8px;
	font-size:12px;
	box-shadow:2px 2px 5px #aaa;  
}
.ls-shop-ul p{
	
}
.ls-shop-ul p:nth-child(1){
	overflow:hidden; 
	height:20px; line-height:20px;
	color:#4dc5fc; font-weight:bold; 
}
.ls-shop-ul p:nth-child(2){
	box-sizing:border-box; overflow:hidden;
	line-height:16px; 
	padding-left:10px;
	background:url(../img/ls-loc.png) no-repeat left center/8px;  
}

.mp-top{
	position:relative; overflow:hidden;
	height:90px;
	background:#1a7cc1 url(../img/elf.png) no-repeat 98% center/40px;   
}
.mp-back{
	position:absolute; 
	left:0; top:0; width:50px; height:100%;
	background:url(../img/back.png) no-repeat center/30px;  
}
.mp-name{
	box-sizing:border-box; overflow:hidden;
	width:94%; height:50px; line-height:25px;
	padding:0 50px; margin:20px auto;
	color:white; text-align:center; font-weight:bold;       
}
.mp-main{
	position:absolute; overflow:hidden;
	top:90px; left:0; bottom:0; width:100%;
}


.tip{
	margin-top:100px; 
	color:white; font-size:20px; font-weight:bold; text-align:center;
}
.btns{
	position:relative;
	width:100%; height:30px;
	margin-top:150px;  
}
.btns>div{
	float:left; 
	width:50%; height:30px; line-height:30px;
	margin:50px auto;
	color:white; font-size:20px; font-weight:bold; text-align:center; 
}


.game{
	background:url(../img/bg-1.jpg) no-repeat center bottom/cover; 
}
.gm-santa{
	position:absolute;
	bottom:10px; left:20px; width:70px; height:110px;
	background:url(../img/gm-santa.png) center/contain;
}
.gm-elf{
	position:absolute;
	top:50px; left:20px; width:95px; height:90px;
	background:url(../img/gm-elf.png) no-repeat center/contain;
	-webkit-transition:left 2s ease;
}
.gm-elf.elf-right{
	-webkit-transform:rotateY(180deg);
}
.gm-gift{
	position:absolute; display:none; 
	top:70px; width:40px; height:35px;
	background:no-repeat center/contain;
}
.gm-gift.red{background-image:url(../img/gift-red.png);}
.gm-gift.blue{background-image:url(../img/gift-blue.png);}
.gm-gift.green{background-image:url(../img/gift-green.png);}
.gm-gift.gm-anim{
	display:block;
	-webkit-transition:all 3s linear;
	transition:all 3s linear;
}
.gm-gift.hide{
	display:none; 
}

.gm-top{
	overflow:hidden;
}
.gm-top>div{
	float:left; position:relative; overflow:hidden;
	width:46%; height:50px;
	margin:0 2%;
}
.gm-t{
	line-height:25px;
	margin-left:40px;
}
.gm-t span{font-weight:bold;}
.gm-t span:nth-child(1){font-size:16px; color:white;}
.gm-t span:nth-child(2){font-size:24px; margin-left:4px;}
.gm-time .gm-t span:nth-child(2){color:#B1EC1A;}
.gm-mark .gm-t span:nth-child(2){color:#e1b12b;}
.gm-bar{
	position:absolute;
	left:28px; right:0; bottom:8px; height:16px;
	border-radius:4px;
	background:#403936;
}
.gm-inner{
	position:absolute;
	left:0; top:1px; height:14px;
	border-radius:4px;
	-webkit-transition:width 0.5s linear;
}
.gm-time .gm-inner{background:#74B645; width:100%;}
.gm-mark .gm-inner{background:#be731b; width:0%;}
.gm-icon{
	position:absolute;
	bottom:0; left:0; width:32px; height:32px;
	background:no-repeat center/contain;
}
.gm-time .gm-icon{background-image:url(../img/gm-clock.png);}
.gm-mark .gm-icon{background-image:url(../img/gm-coin.png);}

.gm-tip{
	z-index:1000;
	background:rgba(0,0,0,.7) no-repeat center;
}
.gm-tip.gm-3{background-image:url(../img/gm-3.png); background-size:24px;}
.gm-tip.gm-2{background-image:url(../img/gm-2.png); background-size:24px;}
.gm-tip.gm-1{background-image:url(../img/gm-1.png); background-size:15px;}
.gm-tip.gm-ready{background-image:url(../img/gm-ready.png); background-size:153px;}
.gm-tip.gm-go{background-image:url(../img/gm-go.png); background-size:81px;}
.gm-tip.gm-pass{background-image:url(../img/gm-pass.png); background-size:250px;}
.gm-tip.gm-fail{background-image:url(../img/gm-fail.png); background-size:265px;}
.gm-score{
	position:absolute; opacity:1;
	width:50px; height:50px; bottom:130px;
	-webkit-transition:all 1s linear;
}
.gm-score.gm-plus{
	background:url(../img/gm-plus.png) no-repeat left center,
	url(../img/gm-score.png) no-repeat right center; 
	background-size:50%;
}
.gm-score.gm-minus{
	background:url(../img/gm-minus.png) no-repeat left center,
	url(../img/gm-score.png) no-repeat right center;
	background-size:50%;
}
.gm-score.gm-gone{opacity:0;}

.gm-demo{
	z-index:1000;
	background:rgba(0,0,0,.7);
}
.gm-demo-arrow{
	position:absolute; opacity:1;
	bottom:70px; width:65px; height:11px;
	background:url(../img/gm-demo-arrow.png) no-repeat center/contain;
	-webkit-animation:fade 5s;
}
.gm-demo-arrow:nth-child(1){
	left:55px;
	-webkit-transform:rotateY(180deg);
}
.gm-demo-arrow:nth-child(2){
	right:55px;
}
.gm-demo-t{
	position:absolute;
	bottom:175px; left:0; width:100%; height:65px;
	background:url(../img/gm-demo-t.png) no-repeat center/contain;
}
.gm-demo-row{
	position:absolute;
	bottom:10px; left:0; width:100%; height:140px;
}
.gm-demo-santa{
	position:relative;
	width:100px; height:100%; left:0px;
	margin:0 auto;
	background:url(../img/gm-demo-hand.png) no-repeat right bottom/54px auto,
		url(../img/gm-santa.png) no-repeat center top/72px auto;
	-webkit-animation:shuttle 5s;
}
@-webkit-keyframes shuttle{
	0%  {left:0px;}
	25% {left:-100px;}
	50% {left:0px;}
	75% {left:100px;}
	100%{left:0px;}
}
@-webkit-keyframes fade{
	0%  {opacity:1;}
	25% {opacity:0;}
	50% {opacity:1;}
	75% {opacity:0;}
	100%{opacity:1;}
}

